@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-950: #111517;
  --color-grey-400: #808080;
  --color-grey-350: #979797;
  --color-grey-300: #b2b2b2;
  --color-grey-250: #c4c4c4;
  --color-grey-50: #fcfcfc;
  --color-blue-950: #202c36;
  --color-blue-900: #2b3844;

  --font-nunitoSans: "NunitoSans", sans-serif;

  --shadow-header: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  --shadow-filterBar: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  --shadow-card: 0 0 7px 0 rgba(0, 0, 0, 0.1);
}

@layer base {
  body {
    @apply font-nunitoSans bg-grey-50 dark:bg-blue-950;
  }

  button,
  input {
    @apply cursor-pointer;
  }

  header a {
    @apply text-sm lg:text-2xl font-extrabold;
  }

  header button {
    @apply text-xs lg:text-base font-semibold;
  }

  input {
    @apply text-sm;
  }
}

@layer components {
  .filter-label {
    @apply bg-green-300 dark:bg-green-900 text-black dark:text-white border-2 border-green-800 dark:border-white px-4 py-2 rounded-md;
  }
}
